<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlyZnB3aGVwb2Z0anNtaWJlamJkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjQ2NzgzNjQsImV4cCI6MjA0MDI1NDM2NH0.Xw0VsmRjDXHHYPLDh6ZNL5KxsHVNtkfv7mJvIP7RaeQ</string>
	<key>SUPABASE_URL</key>
	<string>https://irfpwhepoftjsmibejbd.supabase.co</string>
</dict>
</plist>
